<!-- member_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the Member_view_Page</h1>
        <nav>
            <ul>
                <li><a href="{% url 'admin_view' %}">Admin Page</a></li>
                <li><a href="{% url 'librarian_view' %}">Librarian Page</a></li>
                <li><a href="{% url 'member_view' %}">Member Page</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>Member Access</h2>
        <p>As a member, you can view and borrow books from the library.</p>
        <!-- Add member-specific content here -->
    </section>
</body>
</html>

